# methods of normalizing data

In [1]:
#import
import pandas as pd

In [2]:
age=[20,30,40,50]
income=[1000,1500,2000,2500]

In [3]:
df= pd.DataFrame({'age':age,
             'income':income})

In [4]:
df

   age  income
0   20    1000
1   30    1500
2   40    2000
3   50    2500

In [5]:
age_norm=[]
for i in df.age:
    age_norm.append(i/df.age.max())

In [6]:
df['age_norm']=age_norm
df

   age  income  age_norm
0   20    1000       0.4
1   30    1500       0.6
2   40    2000       0.8
3   50    2500       1.0

In [7]:
income_norm=[]
for i in df.age:
    income_norm.append(i/df.income.max())

In [8]:
df['income_norm']=income_norm
df

   age  income  age_norm  income_norm
0   20    1000       0.4        0.008
1   30    1500       0.6        0.012
2   40    2000       0.8        0.016
3   50    2500       1.0        0.020

In [9]:
def normalize(data):
    """
    Normalize the given data using min-max scaling.
    """
    min_val = min(data)
    max_val = max(data)
    normalized = []
    for x in data:
        normalized.append((x - min_val) / (max_val - min_val))
    return normalized

## Simple Feature Scaling

In [10]:
df['age']/df['age'].max()

0    0.4
1    0.6
2    0.8
3    1.0
Name: age, dtype: float64

## Min-Max

In [11]:
(df.age-df.age.min()) / (df.age.max() - df.age.min())

0    0.000000
1    0.333333
2    0.666667
3    1.000000
Name: age, dtype: float64

## Z-score

In [12]:
(df.age  - df.age.mean()) /df.age.std()

0   -1.161895
1   -0.387298
2    0.387298
3    1.161895
Name: age, dtype: float64