# Turning categorical variables

In [1]:
#import 
import pandas as pd

In [2]:
df=pd.DataFrame({"car":['A','B','C','D'],
                'Fuel':['gas','diesel','gas','gas']})
df

  car    Fuel
0   A     gas
1   B  diesel
2   C     gas
3   D     gas

In [5]:
fuel = pd.get_dummies(df.Fuel)

In [8]:
df =pd.concat([df,fuel] , axis=1)
df

  car    Fuel  diesel  gas
0   A     gas       0    1
1   B  diesel       1    0
2   C     gas       0    1
3   D     gas       0    1